<h6>
    <em><a href=http://esusaps.bridge.ufsc.br/support/login><img src="http://aps.saude.gov.br/public/img/portaldab/geral/esus/canal_suporte_esus.png"/></a></em>
    <br/>
    <br/>
    <em>2021 Minist&eacute;rio da Sa&uacute;de. Todos os direitos reservados. &Eacute; permitida a reprodu&ccedil;&atilde;o parcial ou total desta obra, desde que citada a fonte e que n&atilde;o seja para venda ou qualquer fim comercial. Venda proibida. Distribui&ccedil;&atilde;o gratuita. A responsabilidade pelos direitos autorais de textos e imagens desta obra &eacute; da &aacute;rea t&eacute;cnica. A cole&ccedil;&atilde;o institucional do Minist&eacute;rio da Sa&uacute;de pode ser acessada na &iacute;ntegra na Biblioteca Virtual em Sa&uacute;de do Minist&eacute;rio da Sa&uacute;de: http://www.saude.gov.br/bvs.</em>
    <br/>
    <br/>
    <em>Esta p&aacute;gina foi atualizada em {{ "now" | date: "%d-%m-%Y" }}.</em>
</h6>
